.content {
  position: fixed;
  background-color: #ceccce;
  height: 100%;
  width: 100%;
  z-index: -3;
  overflow-x: scroll;
}

.page {
  background-color: #ceccce;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-left: 10%;
  overflow-y: scroll;
}
.tag h1 {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 10px;
  transform:skewX(20deg);
}
.page .tag {
  background-color: #6ead3a;
  position: absolute;
  margin-top: 2%;
  right: -10px;
  transform:skewX(-20deg);
}
