.content {
  position: fixed;
  background-color: #ceccce;
  height: 100%;
  width: 100%;
  z-index: -3;
  overflow-x: hidden;
}

.page {
  background-color: #ceccce;
  position: relative;
  min-height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-left: 10%;
}
.tag h1 {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 10px;
  transform: skewX(20deg);
}
.page .tag {
  background-color: #6ead3a;
  position: absolute;
  z-index: 1;
  margin-top: 2%;
  right: -10px;
  transform: skewX(-20deg);
}

@media only screen and (max-width: 600px) {
  .page {
    margin-left: 0%;
    width: 100%;
  }
  .page .tag {
    background-color: #6ead3a;
    position: absolute;
    z-index: 1;
    margin-top: 20%;
    right: -10px;
    transform: skewX(-20deg);
  }
}
