sidebar {
  position: fixed;
  width: 15%;
  min-width: 100px;
  height: 100%;
  left: -10px;
  color: #ededef;
  background-color: #4c4947;
  transform:skewX(2deg);
}

.nav-links {
  margin-left: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
sidebar h2 {
  transform:skewX(-2deg);
}
sidebar h2::before {
  position: absolute;
  content: '';
  left: -28%;
  width: 0;
  height: 100%;
  background-color: #6ead3a;
  z-index: -1;
  transition:width 0.25s ease;
  transform-origin: top left;
  box-shadow:  1rem 1rem 1rem rgba(0,0,0,.3);
  transform: skew(2deg, 0deg);
}
sidebar h2:hover {
  cursor: pointer;
  background-color: #565656;
  color: transparent;
  text-shadow: 1px 0px 0px rgba(255,255,255,0.6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
sidebar h2:hover::before {
  width: 120%;
}
