sidebar {
  position: fixed;
  width: 15%;
  min-width: 100px;
  height: 100%;
  color: #ededef;
  background-color: #4c4947;
}
sidebar:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #4c4947;
  transform-origin: top left;
  transform: skew(2deg, 0deg);
  box-shadow:  1rem 1rem 1rem rgba(0,0,0,.3);
}

.nav-links {
  margin-left: 5%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
sidebar h2::before {
  position: absolute;
  content: '';
  left: -1%;
  width: 0;
  height: 5%;
  background-color: #6ead3a;
  z-index: -1;
  transition:width 0.25s ease;
  transform-origin: top left;
  box-shadow:  1rem 1rem 1rem rgba(0,0,0,.3);
  transform: skew(2deg, 0deg);
}

sidebar h2:hover {
  cursor: pointer;
}
sidebar h2:hover::before {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222022;
  color: #ededef;
  text-align: right;
}
footer h2 {
  margin: 0;
  margin-right: 5%;
}
footer:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  z-index: -2;
  background: #222022;
  transform-origin: bottom left;
  transform: skew(0deg, -.5deg);
  box-shadow:  0rem -.5rem 1rem rgba(0,0,0,.3);
}
